.exploreHeader{
    padding: 100px 0px;
    text-align: center;
    background: #C5010A;
    
}
.exploreHeader__title{
    font-size: 62px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.003em;
}