@import "../../variables.scss";
.downloadApp{
    padding: 80px 90px 0 48px;
}
.downloadApp__container{
    display: flex;
    @media screen and (max-width: 1280px){
        flex-wrap: wrap;
        .downloadApp__picture{
            margin: 0 auto;
        }
        .downloadApp{
            padding: 80px 48px 0 48px;
        }
    }
    
}
.downloadApp__body{
    padding: 68px 92px 76px 120px;
}
.downloadApp-body{
    flex: 1 1 auto;
    &__label{
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.005em;
        color: #11142D;
        font-family: $font-bold;
    }
    &__description{
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.005em;
        color: #92929D;
        margin: 24px 0 56px 0;
    }
    &__advantage{
        padding: 5px 0 5px 40px;
        background: url("./Tick.svg") no-repeat left 0 top 50%;
        &:not(:last-child){
            margin: 0 0 16px 0;
        }
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.005em;
        color: #11142D;
        font-family: $font-bold;
    }
}
.downloadApp-body__setUp{
    margin: 40px 0 0 0;
    display: flex;
}
.downloadApp-body__appstore{
    margin: 0 24px 0 0;
    cursor: pointer;
    
}
.downloadApp-body__googlestore{
    margin: 0 24px 0 0;
    cursor: pointer;
}
    

@media screen and (max-width: 991px) {
    /* стили для больших планшетов - начало */
    .downloadApp{
        padding: 100px 0 0 0;
    }
    .downloadApp__picture{
        margin: 0 auto;
    }
    .downloadApp__container{
        flex-direction: column;
    }
    .downloadApp__body{
        padding: 50px 50px 50px 50px;
    }
    .downloadApp-body__setUp{   
        justify-content: center;
        align-items: center;
    }
   
    }
    
    @media screen and (max-width: 767px) {
    /* стили для средних планшетов - начало */
    .downloadApp__body{
        padding: 0px 0px 40px 0px;
    }
    }
    
    @media screen and (max-width: 479px) {
    /* стили для телефонов - начало */
    .downloadApp__picture{
        display: none;
    }
    .downloadApp-body{
        flex: 1 1 auto;
        &__label{
            font-size: 36px;
            line-height: 120%;
            letter-spacing: 0.005em;
            color: #11142D;
            font-family: $font-bold;
        }
        &__description{
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0.005em;
            color: #92929D;
            margin: 24px 0 56px 0;
        }
        .downloadApp-body__setUp{
            margin: 40px 0 0 0;
            display: flex;
            flex-direction: column;
        }
        .downloadApp-body__appstore{
            margin: 0 0 20px 0;
            
            
        }
        .downloadApp-body__googlestore{
            margin: 0 0 0 0;
            
        }
        
    }
    }